@import 'ngx-toastr/toastr';
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: #0f172a;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

app-root {
  display: block;
  min-height: 100vh;
  background:
    radial-gradient(circle at top left, #6366f1, transparent 35%),
    linear-gradient(135deg, #0f172a, #111827);
}
body{
transition:.3s;
}

body.dark{

background:#0f172a;

color:#e5e7eb;

}

/* conteúdo */

body.dark .conteudo{

background:#111827;

}

/* sidebar */

body.dark .sidebar{

background:#020617;

}

/* textos */

body.dark h1,
body.dark h2,
body.dark h3,
body.dark p,
body.dark th,
body.dark td,
body.dark label{

color:#f8fafc;

}

/* cards dashboard */

body.dark .card{

box-shadow:
0 8px 20px
rgba(0,0,0,.4);

}

/* tabelas */

body.dark table{

background:#1e293b;

border-radius:16px;

overflow:hidden;

}

body.dark td{

border-bottom:
1px solid #334155;

}

/* inputs */

body.dark input,
body.dark select{

background:#1e293b;

border:
1px solid #334155;

color:white;

}

body.dark input::placeholder{

color:#94a3b8;

}

/* gráficos */

body.dark .grafico-card{

background:#1e293b;

}

body.dark canvas{

filter:
brightness(1.1);

}

/* botões */

body.dark button{

border:none;

}

/* hover */

body.dark a:hover{

background:#1e293b;

}
:host-context(body.dark) .formulario {
  background: #1e293b;
}

:host-context(body.dark) .formulario h2 {
  color: white;
}

:host-context(body.dark) .formulario input,
:host-context(body.dark) .formulario select {
  background: #0f172a;
  color: white;
  border-color: #334155;
}

:host-context(body.dark) .formulario input::placeholder {
  color: #94a3b8;
}